@model IEnumerable<Blood_Test_Unit.Models.Blood_Samples>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Blood_Samples1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Turn_Away)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Blood_Samples1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Turn_Away)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sampleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.sampleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sampleID })
        </td>
    </tr>
}

</table>
